.baloon {
  position: absolute;
  max-width: calc(var(--grid-panel-column-width) - var(--xs) * 2);
  z-index: 100000;
  background-color: var(--warning);
  padding: 0 var(--xxs) var(--xxs) var(--xxs);
  border-radius: var(--border-radius--4);
}
.no-baloon {
  display: none;
}
.baloon::before {
  --arrow-size: 14px;
  position: absolute;
  top: calc(var(--arrow-size) * -1);
  left: 60px;
  content: " ";
  width: var(--arrow-size);
  height: var(--arrow-size);
  border-bottom: var(--arrow-size) solid var(--warning);
  border-left: calc(var(--arrow-size) / 2) solid transparent;
  border-right: calc(var(--arrow-size) / 2) solid transparent;
}
.header {
  display: flex;
  justify-content: space-between;
}
