.panel {
  background-image: var(--fill-gradient);
  border: var(--border-size) solid var(--stroke-weak);
  border-radius: var(--xxsmall-size);
  transition: opacity var(--transition-time) ease-out;
  min-width: var(--grid-panel-column-width);
}
@media screen and (max-width: 719px) {
  .panel {
    width: var(--panel-width);
    min-height: calc(var(--app-width) - var(--xs));
  }
}
.header {
  min-height: var(--minimum-button-size);
  padding: 0 var(--xsmall-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--dummy {
  min-height: var(--minimum-button-size);
}
.separator {
  height: 0;
  border-width: 1px;
  border: 1px solid var(--separator-color);
}
.content {
  padding: 0 var(--xsmall-size) var(--xsmall-size) var(--xsmall-size);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.actions {
  display: flex;
  align-content: flex-end;
  gap: var(--xsmall-size);
}
.color-components {
  display: flex;
  gap: var(--xxsmall-size);
  * {
    display: block;
    width: var(--xsmall-size);
    height: var(--xsmall-size);
    background: url(/icons/color-components.svg);
    background-position-y: 0;
  }
}
.hide {
  opacity: 0;
}
