.copy-btn {
  margin: var(--xs) 2px var(--xxs) 2px;
  display: flex;
  gap: var(--xxs);
  color: var(--text-strong);
  letter-spacing: 2%;
  cursor: copy;
  &::before {
    content: url("/icons/ico-copy.svg");
    min-width: var(--xs);
    min-height: var(--xs);
  }
  &.--copied {
    color: var(--primary-press);
    &::before {
      content: url("/icons/ico-copied.svg");
    }
  }
}
