@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --font-family-main: "Roboto", sans-serif;
  --font-family-code: "Ubuntu Mono", monospace;
}

.text-main {
  font-family: var(--font-family-main);
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  font-variation-settings: "wdth" 100;
  letter-spacing: 2%;
}
.text-main--product-name {
  font-weight: bold;
  font-size: 1.25rem;
}
.text-main--label {
  font-size: 1.25rem;
}
.text-main--message {
  font-size: 1.125rem;
  font-weight: 300; /*light*/
}
.text-main--tooltip {
  /*font-size: 1rem;*/
  font-weight: 300; /*light*/
}

.text-code {
  font-family: var(--font-family-code);
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}
.text-code--20 {
  font-size: 1.25rem;
}
.text-code--12 {
  font-size: 0.75rem;
}
