:root {
  --modal-radius-border: 8px;
}
.image-modal {
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  position: absolute;
  z-index: 100000; /*images in GSAP Draggable image carousel are zindex:1000++ */
  border-radius: var(--modal-radius-border);
  border: 2px solid;
  border-color: gainsboro;
  background-color: gray;
}
.image-bounds {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: var(--modal-radius-border);
  border-bottom-right-radius: var(--modal-radius-border);
}
.image-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
