.list-wrapper {
  margin-top: var(--xxs);
}

.preset-wrapper {
  max-height: 168px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: auto;
  border: 1px solid #b4bccc;
  border-radius: var(--border-radius--4);
  scrollbar-color: var(--primary) var(--fill);
  margin-bottom: var(--xxs);
}
@media screen and (max-width: 719px) {
  .preset-wrapper {
    max-height: 150px;
  }
}

.preset-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--inner-area);
  position: relative;
  padding: var(--xxs);
}
.preset-item {
  width: 100%;
  .button {
    color: var(--text-strong);
    width: 100%;
    display: flex;
    gap: var(--xxs);
    align-items: center;
  }
}
.icon {
  position: relative;
}
.ico-matrix {
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  transition: all var(--transition-time);
  opacity: 0.5;
}
.ico-button-bg {
  background-image: url("../../assets/icons/presets_ico_bg.svg");
  border: var(--border-size) solid var(--stroke-weak);
  border-radius: 4px;
  width: var(--l);
  height: var(--l);
}
.preset-item:hover {
  .button {
    span.label {
      border-bottom: 1px dotted var(--text-strong);
    }
  }
  .ico-button-bg {
    filter: brightness(1.2);
    border-color: var(--primary);
  }
  .ico-matrix {
    transform: translate(-50%, -55%);
    opacity: 1;
  }
}
.preset-item:active {
  background-color: var(--dark);
  .button {
    span.label {
      color: var(--primary);
      border-bottom: 1px dotted var(--primary);
    }
  }
  .ico-button-bg {
    filter: brightness(1.2);
    border-color: var(--primary);
  }
  .ico-matrix {
    transform: translate(-50%, -55%);
    opacity: 1;
  }
}
.preset-item {
  &.selected {
    background-color: var(--dark);
    .button {
      outline: 2px dashed var(--primary);
      span.label {
        color: var(--primary);
        border-bottom-style: none;
      }
    }
    .ico-button-bg {
      filter: brightness(1.2);
      border-width: 0;
      margin-left: var(--border-size);
    }
    .ico-matrix {
      transform: translate(-50%, -55%);
      opacity: 1;
    }
  }
}
