.preset-wrapper {
  height: 50%;
  min-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: auto;
  border: 1px solid #b4bccc;
  border-radius: 4px;
}

.preset-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #1a1e28;
  position: relative;
}
.preset-item {
  width: 100%;
  .button {
    width: 100%;
    display: flex;
  }
}
.icon {
  position: relative;
}
.ico-matrix {
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  transition: all 500ms;
}
.ico-button-bg {
  background-image: url("../../assets/icons/presets_ico_bg.svg");
  border: 2px solid gray;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}
.preset-item:hover {
  .button {
    background-color: rgba(200, 235, 255, 0.272);
  }
  .ico-button-bg {
    filter: brightness(2);
    border-color: aliceblue;
  }
  .ico-matrix {
    filter: drop-shadow(0 2px 2px rgb(253, 254, 254));
    transform: translate(-50%, -50%);
  }
}
/**.preset-item:focus {
  .button {
    background-color: rgb(255, 200, 0);
  }
}
.preset-item:active {
  .button {
    background-color: rgb(170, 0, 255);
  }
}
.button:focus {
  background-color: rgb(255, 200, 0);
}
*/
