:root {
  --brand: #5991ff;
  --text-strong: #fafcff;
  --text-weak: #dde4f0;
  --stroke-strong: #b4bccc;
  --stroke-weak: #8f96a6;
  --fill: #313a4f;
  --background: #24252b;
  /**/
  --error: #ff5996;
  --warning: #ffc259;
  --success: #59ffb7;
  /**/
}
