.cell {
  --bg-hover: #1d232f;
  min-width: var(--button-size-min);
  min-height: var(--button-size-regular);
  aspect-ratio: 1/1;
  background-color: var(--fill);
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-size) solid var(--stroke-strong);
  &:hover {
    border-color: var(--primary);
  }
  &:active {
    background-color: var(--dark);
    .cell-value {
      color: var(--primary);
      border-bottom-color: var(--primary);
    }
  }
  &.cell--selected {
    background-color: var(--dark);
    border-style: dashed;
    border-color: var(--primary);
    .cell-value {
      border-bottom-style: none;
    }
  }
}
.cell-value {
  color: var(--text-strong);
  border-bottom: 1px dotted var(--text-strong);
}
