.cell {
  min-width: var(--button-size-min);
  min-height: var(--button-size-regular);
  aspect-ratio: 1/1;
  background-color: var(--fill);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--stroke-strong);
}
.cell-value {
  color: var(--text-strong);
}
