:root {
  --primary: var(--brand);
  --primary-hover: #89b1ff;
  --primary-press: #c0d5ff;
  --text-strong: #fafcff;
  --thumb-border: rgba(255, 255, 255, 0.7);
  --dark: #141414;
  --secondary: var(--dark);
  --secondary-hover: #39435c;
  --secondary-press: #8f96a6;
  --separator-color: #4f5460;
  --inner-area: #1a1e28;
  --fill-gradient: linear-gradient(
    180deg,
    rgba(49, 58, 79, 1) 18%,
    rgba(49, 58, 79, 0.85) 41%,
    rgba(49, 58, 79, 0.85) 100%
  );
  --minimum-thumb-size: 2.5rem;
  --minimum-button-size: 2.75rem;
  --small-size: var(--s);
  --xsmall-size: var(--xs);
  --xxsmall-size: var(--xxs);
  --minimum-size: calc(var(--xxs)/2);
  --border-size: 2px;
  --transition-time: 200ms;
  --disabled-opacity: 0.3;
  --border-radius--4: 4px;
  --screen-max-height: 100vh;
  --matrix-size: 350px;
  --app-width: 675px;
  --grid-panel-column-width: 297px;
  --carousel-wrapper-width: calc(
    var(--app-width) - var(--grid-panel-column-width) - var(--xxsmall-size)
  );
}
body {
  background-color: var(--dark);
  max-width: var(--app-width);
  margin: 0 auto;
}
.main {
  display: grid;
  gap: var(--xxs);
  grid-template-columns: 1fr var(--grid-panel-column-width);
  grid-template-rows: repeat(3, min-content);
  .header {
    grid-column: 1 / -1;
  }
  .sidebar {
    grid-column: 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .matrix {
    display: flex;
    flex-direction: column;
    gap: var(--xs);
    align-items: center;
    flex-basis: var(--matrix-size);
  }
  .code-container {
    grid-column: 1 / -1;
  }
}
@media screen and (max-width: 719px) {
  :root {
    --app-width: 320px;
    --carousel-wrapper-width: calc(var(--app-width) - var(--xxsmall-size));
  }
  body {
    max-width: var(--app-width);
    margin: 0 auto;
  }
  .main {
    display: block;
    .sidebar {
      display: none;
    }
    .matrix {
      margin: var(--xs) 0;
    }
    .sidebar,
    .code-container {
      display: none;
    }
  }
}
.btn {
  padding: 0.55rem 1rem;
  border-radius: var(--xxsmall-size);
  transition: background-color var(--transition-time) ease-out;
  /*evita comportamenti errati del bottone in mobile*/
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  touch-action: manipulation;
  &.btn-primary {
    color: var(--dark);
    background-color: var(--primary);
    &:hover {
      background-color: var(--primary-hover);
      cursor: pointer;
    }
    &:active {
      background-color: var(--primary-press);
    }
    &:focus {
      outline: 1px solid var(--primary);
      outline-offset: 2px;
    }
    &:disabled {
      background-color: var(--primary);
      opacity: var(--disabled-opacity);
      cursor: default;
    }
  }

  &.btn-secondary {
    color: var(--text-strong);
    background-color: var(--dark);
    border: var(--border-size) solid var(--text-strong);
    &:hover {
      background-color: var(--secondary-hover);
      cursor: pointer;
    }
    &:active {
      background-color: var(--secondary-press);
    }
    &:focus {
      outline: 1px solid var(--text-strong);
      outline-offset: 2px;
    }
    &:disabled {
      background-color: var(--dark);
      opacity: var(--disabled-opacity);
      cursor: default;
    }
  }
  &.--left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &.--right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.btn-exit {
  color: var(--text-strong);
  min-width: var(--minimum-button-size);
  min-height: var(--minimum-button-size);
  font-size: 1.5rem;
  font-weight: lighter;
  display: flex;
  justify-content: left;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
