:root {
  --modal-radius-border: 8px;
}
#filter {
  width: 0;
  height: 0;
  position: absolute;
}
svg {
  border: 1px solid rgb(0, 47, 255);
}

.image-modal {
  top: 0;
  width: 100%;
  height: 90%;
  max-width: 1000px;
  position: absolute;
  z-index: 100000; /*images in GSAP Draggable image carousel are zindex:1000++ */
  border-radius: var(--modal-radius-border);
  border: 2px solid;
  border-color: gainsboro;
  background-color: gray;
}
.image-bounds {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: var(--modal-radius-border);
}
.image-nav {
  display: flex;
  justify-content: space-between;
}
.preview-wrapper {
  display: flex;
  width: 70%;
  max-width: 400px;
  overflow: hidden; /* correct */
  border: 1px solid orange;
}
/** 
* hack for Safari and Firefox scrolling
*/
.preview-wrapper.native-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  /*scrollbar-width: none;*/
}

.preview-container {
  will-change: transform;
  display: flex;
  gap: 8px;
  height: 256px;
  position: relative;
  align-items: center;
  touch-action: none; /* important for Safari */
  cursor: grab;
}
.preview-item {
  width: 256px;
  height: 256px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
}
.panel-image,
.picture-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

@media screen and (width<1024px) {
  :root {
    --item-width: 128px;
    --item-height: 128px;
    --carousel-width: 406px;
  }
  .preview-wrapper {
    width: var(--carousel-width); /*bounding box: item width x3 perfetto*/
    height: cal(
      var(--item-height) * 2 + 12px
    ); /*bounding box: item height x2 abbondante*/
  }
  .preview-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: var(--carousel-width);
  }
  .preview-item {
    width: 128px;
    height: 128px;
  }
}
