:root {
  --item-size: 256px;
  --gap: 8px;
  --carousel-width: calc((var(--item-size)+var(--gap)) * 6);
}
.svgfilter {
  width: 0;
  height: 0;
  position: absolute;
  border: 5px dotted chartreuse;
}
.preview-wrapper {
  max-width: 400px;
  overflow: hidden;
  border: 1px solid orange;
}
.preview-container {
  display: flex;
  gap: var(--gap);
  position: relative;
  align-items: center;
}
.panel-image,
.picture-item {
  width: var(--item-size);
  height: var(--item-size);
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: var(--item-size);
}
.vector-item {
  width: var(--item-size);
  height: var(--item-size);
  object-fit: cover;
  object-position: center;
}
.picture-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (width<1024px) {
  :root {
    --item-size: 128px;
    --carousel-width: calc((var(--item-size)+8) * 6);
  }
  .preview-wrapper {
    width: var(--carousel-width); /*bounding box: item width x3 perfetto*/
    height: calc(
      var(--item-size) * 2 + 12px
    ); /*bounding box: item height x2 abbondante*/
  }
  .preview-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: var(--carousel-width);
  }
}
